body {
  margin: 0;
  padding: 0;
  background: white;
  overflow-x: auto;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh; /* make sure the body takes at least the full height of the viewport */
  padding-top: 200px;
}

#result-container {
  margin-top: 20px;
  margin-bottom: 50px;
}

#result-legend {
  margin-bottom: -150px;
  margin-left: 0;
}

table {
  border-spacing: 1px;
}

th {
  vertical-align: bottom;
  text-align: center;
}

th span {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}

tbody tr td {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.sort-right {
  text-align: right;
}

#search-input {
  box-sizing: border-box;
  padding: 20px;
  width: 400px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

#search-input.has-results {
  border-radius: 20px 20px 0 0;
}

#search-input:focus {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

#search-results {
  display: none; /* Hide the element initially */
  box-sizing: border-box;
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 0 0 20px 20px;
  margin-top: 0;
  padding: 10px;
  max-height: 195px;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  overflow-y: scroll;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

#search-results::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

#search-results:not(:empty) {
  display: block;
}

#selected-symptoms {
  padding: 0;
  margin: 0 0 10px 0;
}

#selected-symptoms li {
  display: inline-block;
  padding: 10px 15px;
  margin: 1px;
  color: #111;
  border: 1px solid #ccc;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.result-item {
  padding: 5px 0;
}

.result-item:hover {
  background-color: #f0f0f0;
}
