<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Diagnosis Assistant</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div id="search-container">
        <input
          type="search"
          id="search-input"
          placeholder="Search symptom/sign..."
        />
        <div id="search-results-container">
          <ul id="search-results"></ul>
        </div>
      </div>

      <div id="selected-container">
        <h2>Selected Symptoms/Signs:</h2>
        <ul id="selected-symptoms"></ul>
      </div>

      <form id="paragraph-form">
        <legend>Or, find from plain text</legend>
        <textarea
          id="paragraph-input"
          placeholder="Paste your text here..."
        ></textarea>
        <div>
          <button id="phenotagger-button" type="submit">
            Find Symptoms/Signs
          </button>
        </div>
      </form>
      <button id="analyze-button" type="button" disabled>
        List possible diseases
      </button>

      <div id="result-container" hidden>
        <div id="result-legend">
          <h3>Legend</h3>
          <ul>
            <li>✅ Obligate (100%)</li>
            <li>🟩 Very frequent (99-80%)</li>
            <li>🟨 Frequent (79-30%)</li>
            <li>🟧 Occasional (29-5%)</li>
            <li>🟫 Very rare (&lt;4-1%)</li>
            <li>🚫 Excluded (0%)</li>
          </ul>
        </div>
        <table id="result-table"></table>
      </div>
    </div>

    <div class="spinner-container hidden" id="spinner">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
  </body>
</html>
